h1 {
        font-size: 50px;
        text-align: center;
}

#clanek{
        color: blue;
}

.autor{
        color: aqua;
}


ul{
        list-style-type: circle;
}


a{
        text-decoration: none;
}

#h2{
        color: red;
}




